.projects-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%);
    margin-top: 140px;
    margin-bottom: 140px;
    color: white;
}

.projects-headline {
    display: flex;
    justify-content: space-between;
}

.projects-headline h1 {
    margin: 0;
    line-height: 88px;
    font-size: 88px;
    letter-spacing: -2.5px;
}

.projects-headline a {
    margin: 0;
    line-height: 26px;
    text-decoration: none;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 2px solid var(--green);
}

.projects-headline a:hover {
    color: var(--green);
}

.projects-headline a:visited {
    color: var(--white);
}

.projects-grid {
    margin-top: 80px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 69px;
}

@media only screen and (max-width: 1110px) {
    .projects-grid {
        grid-template-rows: repeat(auto-fill, minmax(398px, 1fr));
        grid-template-columns: repeat(2, minmax(343px, 1fr));
    }
}

@media only screen and (max-width: 750px) {
    .projects-grid {
        grid-template-rows: repeat(auto-fill, minmax(398px, 1fr));
        grid-template-columns: repeat(1, 1fr);
    }
}

.project-item {
    position: relative;
}

.project-img {
    position: relative;
    z-index: 0;
    object-fit: cover;
    height: 360px;
    overflow: hidden;
}

.project-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-cta {
    z-index: 10;
    display: none;
    gap: 30px;
    margin-top: 20px;
}

.project-cta.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.project-img:hover .project-cta.img {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 0px;
}

.project-img:hover .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .69);
}

.project-cta a {
    text-align: center;
    border: none;
    height: 38px;
    border-bottom: 2px solid var(--green);
    background: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
    font-family: 'Space Grotesk';
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 0px;
    text-decoration: none;
}

.project-cta a:hover {
    color: var(--green);
}

@media only screen and (max-width: 768px) {
    .project-cta.img {
        display: none;
    }
    
    .project-img:hover .project-cta.img {
        display: none;
    }
    
    .project-img:hover .overlay {
        display: none;
    }

    .project-cta {
        display: flex;
    }
}

.project-text {
    margin-top: 20px;
}

.project-text *{
    margin: 0px;
}

.project-text h2 {
    line-height: 32px;
    font-weight: 700;
}

.project-text p {
    margin-top: 7px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: var(--lgray);
}

@media only screen and (min-width: 426px) and (max-width: 1110px){
    .projects-container {
        position: relative;
        left: 0px;
        transform: none;
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .projects-grid {
        margin-top: 60px;
        column-gap: 24px;
        row-gap: 60px;
    }
    
    .projects-headline h1 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
    }
}

@media only screen and (max-width: 425px){
    .projects-container {
        position: relative;
        left: 0px;
        transform: none;
        margin-top: 40px;
        margin-left: 14px;
        margin-right: 14px;
    }

    .projects-grid {
        margin-top: 40px;
    }

    .projects-headline h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.14;
    }
}